[submodule "repos/awesome-ai-local-tools-1000"]
	path = repos/awesome-ai-local-tools-1000
	url = https://github.com/stephen-taipei/awesome-ai-local-tools-1000.git
[submodule "repos/awesome-chrome-extensions-1000"]
	path = repos/awesome-chrome-extensions-1000
	url = https://github.com/stephen-taipei/awesome-chrome-extensions-1000.git
[submodule "repos/awesome-free-games-1000"]
	path = repos/awesome-free-games-1000
	url = https://github.com/tw-stephen/awesome-free-games-1000.git
[submodule "repos/awesome-free-mini-tools-1000"]
	path = repos/awesome-free-mini-tools-1000
	url = https://github.com/stephen-taipei/awesome-free-mini-tools-1000.git
[submodule "repos/awesome-tailwind-ui-templates-1000"]
	path = repos/awesome-tailwind-ui-templates-1000
	url = https://github.com/stephen-taipei/awesome-tailwind-ui-templates-1000.git
[submodule "repos/awesome-wasm-tools-1000"]
	path = repos/awesome-wasm-tools-1000
	url = https://github.com/stephen-taipei/awesome-wasm-tools-1000.git
[submodule "repos/awesome-web-toys-1000"]
	path = repos/awesome-web-toys-1000
	url = https://github.com/stephen-taipei/awesome-web-toys-1000.git
[submodule "repos/awesome-web-workers-examples-1000"]
	path = repos/awesome-web-workers-examples-1000
	url = https://github.com/stephen-taipei/awesome-web-workers-examples-1000.git
