[submodule "stephen-taipei-react/src/tools/awesome-ai-local-tools-1000"]
	path = stephen-taipei-react/src/tools/awesome-ai-local-tools-1000
	url = ../awesome-ai-local-tools-1000
[submodule "stephen-taipei-react/src/tools/awesome-chrome-extensions-1000"]
	path = stephen-taipei-react/src/tools/awesome-chrome-extensions-1000
	url = ../awesome-chrome-extensions-1000
[submodule "stephen-taipei-react/src/tools/awesome-free-games-1000"]
	path = stephen-taipei-react/src/tools/awesome-free-games-1000
	url = ../awesome-free-games-1000
[submodule "stephen-taipei-react/src/tools/awesome-free-mini-tools-1000"]
	path = stephen-taipei-react/src/tools/awesome-free-mini-tools-1000
	url = ../awesome-free-mini-tools-1000
[submodule "stephen-taipei-react/src/tools/awesome-tailwind-ui-templates-1000"]
	path = stephen-taipei-react/src/tools/awesome-tailwind-ui-templates-1000
	url = ../awesome-tailwind-ui-templates-1000
[submodule "stephen-taipei-react/src/tools/awesome-wasm-tools-1000"]
	path = stephen-taipei-react/src/tools/awesome-wasm-tools-1000
	url = ../awesome-wasm-tools-1000
[submodule "stephen-taipei-react/src/tools/awesome-web-toys-1000"]
	path = stephen-taipei-react/src/tools/awesome-web-toys-1000
	url = ../awesome-web-toys-1000
[submodule "stephen-taipei-react/src/tools/awesome-web-workers-examples-1000"]
	path = stephen-taipei-react/src/tools/awesome-web-workers-examples-1000
	url = ../awesome-web-workers-examples-1000
